:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.main-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #c2c3c7;
  overflow: hidden;
}
.header {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 272px;
  overflow: hidden;
}
.search-bar {
  position: relative;
  width: 677px;
  height: 69px;
  margin: 102px 0 0 677px;
  z-index: 1;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #111d35;
  z-index: 2;
  border-radius: 16px;
}
.search-input {
  position: absolute;
  width: 677px;
  height: 69px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 5;
  outline: none;
}
.search-icon {
  position: absolute;
  width: 6.79%;
  height: 66.67%;
  top: 15.94%;
  left: 90.69%;
  background: url(./assets/images/ff40cb82-4496-4d3e-a127-8c55e192d03a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28.99%;
  top: 37.68%;
  left: 3.69%;
  color: #c2c3c7;
  font-family: Russo One, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.4;
  z-index: 3;
}
.body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 60px;
  position: relative;
  width: 2032px;
  padding: 52px 274px 52px 274px;
  z-index: 6;
  overflow: hidden;
}
.picomon-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 700px;
  height: 658px;
  padding: 57px 0 57px 0;
  background: #d9d9d9;
  z-index: 7;
  border-radius: 12px;
}
.picomon-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: absolute;
  width: 700px;
  height: 128px;
  top: -57px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 8;
}
.frame {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 128px;
  z-index: 9;
}
.bulbasaur-xy {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 50%;
  left: 0;
  background: url(./assets/images/5e60b8e2-2c19-4616-94f0-1d02faf13bfe.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -55.65%);
  z-index: 12;
}
.vector {
  position: absolute;
  height: 71px;
  top: 50%;
  right: 0;
  left: 0;
  background: url(./assets/images/3a0f9625-a4b9-4a89-b6ef-8a51081b6eff.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -9.86%);
  z-index: 10;
}
.tipos {
  position: absolute;
  width: 94px;
  height: 40px;
  top: 50%;
  right: 48px;
  transform: translate(0, 20%);
  z-index: 14;
}
.image {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background: url(./assets/images/6e3eff77c0a7610974adcc008ab98647905d04e4.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.image-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 54px;
  background: url(./assets/images/5868883f332bb486fee1b30c48e2e5139079b3b8.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.nome {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11.434px;
  top: calc(50% - -17px);
  left: calc(50% - 42px);
  color: #00b543;
  font-family: Russo One, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 11.434px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: calc(50% - -17px);
  left: calc(50% - 218px);
  color: #ffffff;
  font-family: Russo One, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.bulbasaur {
  flex-shrink: 0;
  position: absolute;
  width: 68%;
  height: 78.57%;
  top: 21.43%;
  left: 14.57%;
  background: url(./assets/images/729058142317b47e92aecbac5144dce7b528d29f.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.dados-da-negah {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 31px;
  position: relative;
  width: 712px;
  height: 658px;
  z-index: 18;
}
.descricao-breve {
  flex-shrink: 0;
  position: relative;
  width: 712px;
  height: 71px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 19;
}
.descricao-breve-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 20;
  border-radius: 12px;
}
.pokemon-semente {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 712px;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 21;
}
.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 31px;
  position: relative;
  width: 700px;
  z-index: 22;
}
.tipo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 700px;
  height: 58px;
  z-index: 23;
}
.label {
  position: relative;
  width: 325px;
  height: 57px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 24;
}
.label-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 25;
  border-radius: 12px;
}
.label-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 26;
}
.value {
  position: relative;
  width: 325px;
  height: 58px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 27;
}
.valor {
  position: absolute;
  width: 100%;
  height: 98.28%;
  top: 0;
  left: 0;
  background: #989797;
  border: 1px solid #ffffff;
  z-index: 28;
  border-radius: 12px;
}
.valor-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 98.28%;
  top: 1.72%;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 29;
}
.tipo-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 700px;
  height: 58px;
  z-index: 30;
}
.label-5 {
  position: relative;
  width: 325px;
  height: 57px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 31;
}
.label-6 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 32;
  border-radius: 12px;
}
.label-text-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 33;
}
.button {
  position: relative;
  width: 325px;
  height: 58px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 34;
}
.valor-8 {
  position: absolute;
  width: 100%;
  height: 98.28%;
  top: 0;
  left: 0;
  background: #989797;
  border: 1px solid #ffffff;
  z-index: 35;
  border-radius: 12px;
}
.valor-text-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 98.28%;
  top: 1.72%;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 36;
}
.tipo-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 700px;
  height: 58px;
  z-index: 37;
}
.button-b {
  position: relative;
  width: 325px;
  height: 57px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 38;
}
.label-c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 39;
  border-radius: 12px;
}
.label-text-d {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 40;
}
.button-e {
  position: relative;
  width: 325px;
  height: 58px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 41;
}
.valor-f {
  position: absolute;
  width: 100%;
  height: 98.28%;
  top: 0;
  left: 0;
  background: #989797;
  border: 1px solid #ffffff;
  z-index: 42;
  border-radius: 12px;
}
.valor-text-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 98.28%;
  top: 1.72%;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 43;
}
.tipo-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 700px;
  height: 58px;
  z-index: 44;
}
.button-label {
  position: relative;
  width: 325px;
  height: 57px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 45;
}
.button-label-12 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 46;
  border-radius: 12px;
}
.label-text-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 47;
}
.button-value {
  position: relative;
  width: 325px;
  height: 58px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 48;
}
.valor-14 {
  position: absolute;
  width: 100%;
  height: 98.28%;
  top: 0;
  left: 0;
  background: #989797;
  border: 1px solid #ffffff;
  z-index: 49;
  border-radius: 12px;
}
.valor-text-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 325px;
  height: 98.28%;
  top: 1.72%;
  left: 0;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: center;
  z-index: 50;
}
.descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 700px;
  min-height: 200px;
  padding: 18px 15px 18px 15px;
  background: #d9d9d9;
  border: 1px solid #ffffff;
  z-index: 51;
  max-width: 700px;
  border-radius: 12px;
}
.descricao-16 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 670px;
  min-width: 0;
  height: 87px;
  color: #000000;
  font-family: Russo One, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.92px;
  text-align: left;
  z-index: 52;
}
